--- !autostatsq.config.AutoStatsQConfig
Settings:
- !autostatsq.config.GeneralSettings
  work_dir: '.'
  list_station_lists: [some_stations_testset.pf]
- !autostatsq.config.CatalogConfig
  search_events: false
  use_local_catalog: false
  subset_of_local_catalog: false
  use_local_subsets: true
  subset_fns: {'deep': 'results/catalog/catalog_Mgr7.0_deep.txt',
               'shallow': 'results/catalog/catalog_Mgr7.0_shallow.txt'}
  dist: 165.0
  min_mag: 7.0
  max_mag: 8.0
  tmin_str: '2015-01-01 00:00:00'
  tmax_str: '2021-12-01 00:00:00'
  wedges_width: 10
  min_dist_km: 4000.0
  max_dist_km: 9999999.9
  depth_options:
    deep: [25000, 1000000]
    shallow: [100, 40000]
  plot_catalog_all: false
  plot_hist_wedges: false
  plot_catalog_subset: false
- !autostatsq.config.ArrTConfig
  calc_first_arr_t: false
  phase_select: P|p|P(cmb)P(icb)P(icb)p(cmb)p|P(cmb)Pv(icb)p(cmb)p|P(cmb)P<(icb)(cmb)p
  calc_est_R: false
  v_rayleigh: 4.0
- !autostatsq.config.MetaDataDownloadConfig
  download_data: false
  download_metadata: false
  local_data: []
  local_metadata: []
  local_waveforms_only: false
  sds_structure: false
  use_downmeta: true
  channels_download: HH*
  all_channels: false
  sites: [bgr]
  token: {}
  dt_start: 0.1
  dt_end: 1.5
- !autostatsq.config.RestDownRotConfig
  rest_data: false
  freqlim: [0.005, 0.01, 0.2, 0.25]
  rotate_data: false
  deltat_down: 2.0
- !autostatsq.config.SynthDataConfig
  make_syn_data: false
  engine_path:  ../../gf_stores
  store_id:  global_2s
- !autostatsq.config.GainfactorsConfig
  calc_gainfactors: false
  gain_factor_method:
  - reference_nsl
  - [GR, BFO]
  fband:
    corner_hp: 0.01
    corner_lp: 0.2
    order: 4
  taper_xfrac: 0.25
  wdw_st_arr: 5
  wdw_sp_arr: 120
  snr_thresh: 1.0
  debug_mode: false
  components: [Z]
  plot_median_gain_on_map: false
  plot_allgains: false
- !autostatsq.config.PSDConfig
  calc_psd: false
  tinc: 600
  tpad: 200
  dt_start: 60
  dt_end: 120
  n_poly: 25
  norm_factor: 50
  f_ign: 0.02
  only_first: true
  plot_psds: false
  plot_ratio_extra: false
  plot_m_rat: false
  plot_flat_ranges: false
- !autostatsq.config.OrientConfig
  orient_rayl: false
  bandpass: [3, 0.01, 0.05]
  start_before_ev: 30
  stop_after_ev: 600
  plot_heatmap: false
  ccmin: 0.8
  plot_distr: false
  plot_orient_map_fromfile: false
  plot_angles_vs_events: false
  plot_angles_vs_baz: false
  debug_mode: false
- !autostatsq.config.TimingConfig
  timing_test: false
  bandpass: [3, 0.01, 0.1]
  time_wdw: [firstP, 1200]
  cc_thresh: 0.6
  search_avail_stats: false
  debug_mode: false
- !autostatsq.config.TeleCheckConfig
  tele_check: false
- !autostatsq.config.maps
  map_size: [30.0, 30.0]
  pl_opt: ['automatic']  # [50, 8.3, 1000000, 'split']
  pl_topo: false
  outformat: png
