--- !autostatsq.config.AutoStatsQConfig
Settings:
- !autostatsq.config.GeneralSettings
  data_dir: /home/gesa/Documents/AlpArray/AutoStatsQ_test/TEST/
  list_station_lists: [/home/gesa/Documents/AlpArray/AutoStatsQ_test/TEST/test_stations.csv]
- !autostatsq.config.CatalogConfig
  search_events: false
  use_local_catalog: false
  subset_of_local_catalog: false
  use_local_subsets: true
  subset_fns: {'deep': '/home/gesa/Documents/AlpArray/AutoStatsQ_test/TEST/results/catalog/catalog_Mgr6.5_deep.txt',
  'shallow': '/home/gesa/Documents/AlpArray/AutoStatsQ_test/TEST/results/catalog/catalog_Mgr6.5_shallow.txt'}
  catalog_fn: /home/gesa/Documents/AlpArray/AutoStatsQ_test/TEST/results/catalog/catalog_Mgr6.5.txt
  dist: 165.0
  min_mag: 6.5
  max_mag: 8.5
  tmin_str: '2015-01-01 00:00:00'
  tmax_str: '2018-06-30 00:00:00'
  wedges_width: 10
  mid_point: [46.98, 10.74]
  median_ev_in_bin: false
  #weighted_magn_baz_ev: true
  min_dist_km: 5000.0
  max_dist_km: 9999999.9
  depth_options: {'deep': [25000, 1000000], 'shallow':[100, 40000]} 
  plot_catalog_all: false
  plot_hist_wedges: false
  plot_wedges_vs_dist: false
  plot_wedges_vs_magn: false
  plot_dist_vs_magn: false
  plot_catalog_subset: false
- !autostatsq.config.ArrTConfig
  calc_first_arr_t: false
  phase_select: P|p|P(cmb)P(icb)P(icb)p(cmb)p|P(cmb)Pv(icb)p(cmb)p|P(cmb)P<(icb)(cmb)p
- !autostatsq.config.CakeTTTGenerator
  calc_ttt: false
  dir_ttt: /media/gesap/TOSHIBA EXT/data/teleseismics14/ttt/
  earthmodel_id: prem-no-ocean.f
  tabulated_phases:
  - !pf.TPDef
    id: p
    definition: P,p,P(cmb)P(icb)P(icb)p(cmb)p,P(cmb)Pv(icb)p(cmb)p,P(cmb)P<(icb)(cmb)p
  dist_min: 5000000.0
  dist_max: 20000000.0
  dist_acc: 10000.0
  s_depth_min: 10000.0
  s_depth_max: 700000.0
  s_acc: 10000.0
  r_depth_min: 0.0
  r_depth_max: 0.0
  r_acc: 20.0
  t_acc: 5.0
- !autostatsq.config.MetaDataDownloadConfig
  download_data: false
  download_metadata: false
  local_metadata: []
  use_downmeta: true
  components_download: '*'
  #components: [HHZ, HHN, HHE, BHZ, BHE, BHN, HH2, HH3, BH2, BH3, EHZ, EHN, EHE, EH2, EH3, BH1, EH1, HH1]
  #token:
  #  geofon: /home/gesap/Documents/AlpArray/download-waveforms/swathD/token.asc
  sites: [geofon]
  dt_start: 0.1
  dt_end: 1.5
- !autostatsq.config.RestDownRotConfig
  rest_data: false
  freqlim: [0.005, 0.01, 0.2, 0.25]
  rotate_data: false
  deltat_down: 2
- !autostatsq.config.SynthDataConfig
  make_syn_data: false
  engine_path: /media/gesap/TOSHIBA EXT/gf_stores
  store_id: global_2s
- !autostatsq.config.GainfactorsConfig
  calc_gainfactors: false
  gain_factor_method:
  - reference_nsl
  - [GE, MATE]
  fband:
    corner_hp: 0.01
    corner_lp: 0.2
    order: 4
  taper_xfrac: 0.25
  wdw_st_arr: 5
  wdw_sp_arr: 60
  phase_select: first(P|p|P(cmb)P(icb)P(icb)p(cmb)p|P(cmb)Pv(icb)p(cmb)p|P(cmb)P<(icb)(cmb)p)
  components: [Z, R, T]
  plot_median_gain_on_map: false
  plot_allgains: false
- !autostatsq.config.PSDConfig
  calc_psd: false
  tinc: 600
  tpad: 200
  dt_start: 60
  dt_end: 1800
  n_poly: 25
  norm_factor: 10
  f_ign: 0.02
  plot_psds: false
  plot_ratio_extra: false
  plot_m_rat: false
  plot_flat_ranges: false
- !autostatsq.config.OrientConfig
  orient_rayl: true
  bandpass: [3, 0.01, 0.05]
  start_before_ev: 30
  stop_after_ev: 480
  plot_heatmap: true
  plot_distr: true
  plot_orient_map_fromfile: true
  orient_map_label: [3.5, 39., 4.]  
- !autostatsq.config.maps
  map_size: [30.0, 30.0]
  pl_opt: [46, 11.75, 800000] #200000

