.box {
  height: 200px;
  width: 90%;
  padding: 10px;
  border: 1px solid #000;
  float: left;
  margin: 0 20px 0 0;
}
.box-one {
  overflow: hidden;
}
.box-two {
  overflow: auto;
}
.box-three {
  overflow: scroll;
}


.container {
  width: 90%; /*any size*/
  height: 200px; /*any size*/
  overflow: scroll;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  /*background-size: cover;*/
  object-fit: cover; /*magic*/
}


.img-wrapper {
    overflow: auto; /* adds scrollbars */
    height: 400px;
    background-color: blue;
    position: relative;
}

.img-wrapper > img {
    height: auto; /* probably looks neater if auto */
    width: 200%; /* double width image to show only first quarter */
    vertical-align: bottom; /* moves image to true text bottom */
}



body {
  display: flex;
  flex-wrap: wrap;
}

.map {
  margin: 1rem;
  width: 90%;
  height: 300px;
  overflow: scroll;
  position: relative;
  margin-bottom: 15px;
}
.map img {
  width: 100%;
  height: auto;
 } 
.map-desc {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  top: 130px;
  font-size: 24px;
}
.touch-auto {
  touch-action: auto;
}
.touch-none {
  touch-action: none;
}
.touch-pan-x {
  touch-action: pan-x;
}
.touch-pan-y {
  touch-action: pan-y;
}
.touch-pan-right {
  touch-action: pan-right;
}
.touch-manipulation {
  touch-action: manipulation;
}